.footer-top {
    filter: drop-shadow(0px 2px 2.5px rgba(44, 46, 51, 0.4));
    background-color: #222222;
}

.footer-bottom {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 25px;
    background-color: #151515;
    color: #626263;
    font-family: "Open Sans";
    font-weight: 600;
}

.footer-inner {
    width: 100%;
}

.send {
    background-color: #fcae26;
    color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: bold;
    margin-left: 55px;
    height: 35px;
}

.contact {
    width: 50px;
    height: 50px;
}

.footer__logo {
    width: 130px;
    height: 30px;
}

.footer-inner2 {
    display: flex;
}

.footer-top {
    display: flex;
}

.footer-column {
    width: 25%;
}

.footer_columns {
    display: flex;
}

p {
    margin-right: 20px;
}

@media(max-width: 576px) {
    .footer {
        height: 100%;
    }
    .footer_columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-inner2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}