.footer-wrapper {
    filter: drop-shadow(0px 2px 2.5px rgba(44, 46, 51, 0.4));
    background-color: #222222;
}

.footer-bottom {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 25px;
    background-color: #151515;
    color: #626263;
    font-family: "Open Sans";
    font-weight: 600;
    display: flex;
}

.send {
    width: 192px;
    height: 42px;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 2.5px rgba(252, 174, 38, 0.4));
    background-color: #f39313;
    font-size: 16px;
    letter-spacing: 0px;
    color: #f6f9fa;
    font-family: "Open Sans";
    font-weight: 700;
    border: 0px;
}

.contact {
    width: 50px;
    height: 50px;
}

.footer__logo {
    width: 130px;
    height: 30px;
}

.footer-inner {
    display: flex;
    flex-direction: row;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

@media(max-width: 576px) {
    .footer {
        height: 100%;
    }
    .column-main {
        max-width: 576px;
        display: flex;
        flex-direction: column;
    }
    .footer-bot {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-self: center;
        margin-right: 20px;
    }
    .send {
        width: 190px;
    }
    .column-2 {
        display: flex;
        align-items: center;
        align-self: center;
    }
    .column-social {
        display: flex;
        align-self: center;
    }
    .column {
        display: flex;
        align-items: center;
        align-self: center;
    }
    .column-3 {
        display: flex;
        align-self: center;
    }
}